<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>JSPPractice</display-name>
  <context-param>
    <param-name>ORACLE_DRIVER</param-name>
    <param-value>oracle.jdbc.OracleDriver</param-value>
  </context-param>
  <context-param>
    <param-name>ORACLE_URL</param-name>
    <param-value>jdbc:oracle:thin://192.168.0.22:1521</param-value>
  </context-param>
  <context-param>
    <param-name>PAGE_SIZE</param-name>
    <param-value>2</param-value>
  </context-param>
  <context-param>
    <param-name>BLOCK_PAGE</param-name>
    <param-value>3</param-value>
  </context-param>
  <servlet>
    <servlet-name>ElectronicLib</servlet-name>
    <servlet-class>controller.book.ElecController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ElectronicLib</servlet-name>
    <url-pattern>/ElectronicLib.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ElectronicLibList</servlet-name>
    <servlet-class>controller.book.ElecListController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ElectronicLibList</servlet-name>
    <url-pattern>/ElectronicLib/List.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ElectronicLibView</servlet-name>
    <servlet-class>controller.book.ElecViewController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ElectronicLibView</servlet-name>
    <url-pattern>/ElectronicLib/View.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ElectronicLibEdit</servlet-name>
    <servlet-class>controller.book.ElecEditController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ElectronicLibEdit</servlet-name>
    <url-pattern>/ElectronicLib/Edit.do</url-pattern>
  </servlet-mapping>
   <context-param>
  	<param-name>JNDI_ROOT</param-name>
  	<param-value>java:comp/env</param-value>
  </context-param>
  
  
  
  
  <servlet>
    <servlet-name>Review</servlet-name>
    <servlet-class>controller.Review.ListController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Review</servlet-name>
    <url-pattern>/Reviewofnowweek.do</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>ReviewList</servlet-name>
    <servlet-class>controller.Review.ListOneController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReviewList</servlet-name>
    <url-pattern>/ReviewofnowweekOk.do</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>ReviewEdit</servlet-name>
    <servlet-class>controller.Review.EditController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReviewEdit</servlet-name>
    <url-pattern>/ReviewofnowweekEdit.do</url-pattern>
  </servlet-mapping>
</web-app>